version: '3.8'

volumes:
  postgres_data:
  static_volume:

services:
  db:
    container_name: postgres_middle_python
    image: postgres:13.4
    restart: always
    expose:
      - '5432'
    volumes:
      - ./postgres_data:/var/lib/postgresql/data/
    env_file:
      - ./.env

  admin_panel:
    container_name: admin_panel
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    expose:
      - '8000'
    env_file:
      - ./.env
    volumes:
      - ./static:/code/static/
    depends_on:
      - db

  nginx:
    image: nginx:1.21.1
    container_name: nginx
    restart: unless-stopped
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/conf.d:/etc/nginx/conf.d:ro
      - ./static:/code/static/
    ports:
      - '80:80'
    depends_on:
      - admin_panel